_history\*
__history
Win32
*.local
*.identcache
bin/*.exe
bin/*.bpl
bin/*.rar
dcu
dcp
*.stat
__recovery
LibrarySupport
ModelSupport_HLazy
ModelSupport_HimsSoft
*.stat
*.stat
bin/*.xml
bin/*.db
bin/*.db-journal
bin/*.log
*.exe
*.res
*.dproj
*.res
*.stat
*.stat
*.skincfg
HimsSoft.stat
*.tvsconfig
