_history\*
__history
Win32
*.local
*.identcache
bin/*.exe
bin/*.bpl
bin/*.rar
dcu
dcp
__recovery
LibrarySupport
ModelSupport_HLazy
ModelSupport_HimsSoft
bin/*.xml
bin/*.db
bin/*.db-journal
bin/*.log
*.exe
*.dproj
*.stat
*.skincfg
HimsSoft.stat
*.tvsconfig

*.ddp

*.dof
*.log
